* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-200px) scaleY(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scaleY(1);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
body {
  display: grid;
  place-items: center;
  color: yellow;
  width: 100%;
}

.main__bg {
  background-image: linear-gradient(-60deg, #383f84 50%, #5e8859 50%);
  animation: slide 3s ease-in-out infinite alternate;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  opacity: 0.5;
  z-index: -1;
}

.layer1 {
  animation-direction: alternate-reverse;
  animation-duration: 20s;
}

.layer2 {
  animation-duration: 22s;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  height: 600px;
  margin-inline: auto;
}
section .indexDiv {
  width: 80%;
  height: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 25, 25, 0.6666666667);
  border: 3px solid #eee;
  margin-top: 1rem;
  padding: 1rem;
}
section h1 {
  margin: 5px;
  text-align: center;
  color: rgba(183, 20, 20, 0.8392156863);
  font-family: "Tilt Neon", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
}

#divTitle {
  position: relative !important;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 25, 25, 0.4823529412);
  gap: 2rem;
  width: 80%;
  margin-top: 4rem;
  padding: 0.9rem;
}
.btn-div button {
  margin: 5px;
  padding: 0.9rem;
  font-family: "Tilt Neon", sans-serif;
  color: #191919;
  font-size: 1.5rem;
  border-radius: 15%;
  width: 33%;
  border: 2px solid #eee;
  background-color: #ba2da3;
  transition: 0.5s ease-in-out;
}
.btn-div button:hover {
  background-color: #0e9d10;
  transition: 0.5s ease-in-out;
}

#resetButton {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #08080a;
  color: #e30ca6;
  font-family: "Tilt Neon", sans-serif;
}

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 1s forwards;
}
.bubbly-button.animate:after {
  display: block;
  opacity: 0.8%;
  animation: bottomBubbles ease-in-out 1s forwards;
}

.incorrect {
  background-color: rgba(214, 25, 25, 0.8784313725) !important;
}

.correcto {
  background-color: rgb(40, 181, 52) !important;
}

.fall {
  position: inherit;
  opacity: 0;
  animation: fall 0.5s 3s 1 ease-in-out forwards;
}

.modal {
  display: none;
  position: fixed;
  margin: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
.modal-content h2 {
  font-family: "Tilt Neon", sans-serif;
  color: #045e64;
}

.close {
  text-align: center;
  background-color: rgba(45, 42, 42, 0.9333333333);
  color: #eee;
  width: 5%;
  height: 10%;
  padding: 8px;
  border-radius: 50%;
  float: right;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.close:hover {
  transition: 0.3s ease-in-out;
  background-color: #bb0707;
  box-shadow: 5px 5px 5px 0 #191919;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

#saveNameBtn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#saveNameBtn:hover {
  transition: 0.3s ease-in-out;
  background-color: #459aa0;
  border-radius: 10%;
  box-shadow: 5px 5px 5px 0 #191919;
}

/*# sourceMappingURL=style.css.map */
